<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-primary">
 	<div class="panel-heading">
		<h3 class="panel-title">Editing Task</h3>
 	</div>
 	<div class="panel-body">
		<%= render 'form', task: @task %>
		<div class="text-center">
			<%= link_to 'Show', @task %> |
			<%= link_to 'Back', tasks_path %>
		</div>
		</div>
	</div>
</div>
</div>
